*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

html{
   scroll-behavior: smooth;
}

body{
   background-color: #080808;
   color: #fff;
};


/*Media quiries*/

@media screen and (max-width:840px){
   .bg{
      right: -10vw;
   }
   .welcome{
      font-size: 4.5vw;
   }
}



@media screen and (max-width:840px){
   .bg{
      right: -20vw;
   }
   
}