*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   background: transparent;
   font-family: 'Poppins',sans-serif;
}

body{
   background: rgb(12, 11, 24);
   color: white;
   overflow: hidden;
   overflow-y: scroll;
}

/*Media quiries*/

@media screen and (max-width:840px){
   .bg{
      right: -10vw;
   }
   .welcome{
      font-size: 4.5vw;
   }
}



@media screen and (max-width:840px){
   .bg{
      right: -20vw;
   }
   
}