*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;

}

html{
   scroll-behavior: smooth;
}

body{
   
   color: hsl(0, 0%, 100%);
};


/*Media quiries*/

@media screen and (max-width:840px){
   .bg{
      right: -10vw;
   }
   .welcome{
      font-size: 4.5vw;
   }
}

 

@media only screen and (max-width: 600px){
   .header-text{
      margin-top: 100%;
      font-size: 10px;
   }

   nav {
      position: relative;
    }

   .header-text h1{
      font-size: 30px;
   }
   nav .fa-solid{
      display: block;
      font-size: 25px;
     }
   
     nav ul{
      background: #4a838d;
      position: fixed;
      top: 0;
      right: -200px;
      width: 100px;
      height: 100vh;
      padding-top: 50px; 
      z-index: 2;
      transition: right 0.9s;
     }
   
     na ul li{
      display: block;
      margin: 25px;
     }
   
     nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
   }
   .sub-title{
      font-size: 20px;
   }
   .about-col-1, .about-col-2{
      flex-basis: 100%;
   }
   .about-col-1{
      margin-bottom: 30px;
   }
   .about-col-2{
      font-size: 14px;
   }
   .tab-links{
      font-size: 14px;
      margin-right: 20px;
   }
   .contact-left, .contact-right{
     flex-basis: 100%; 
   } 
   }