#contact{
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
   margin: 30px;
}
 .contact-left{

flex-basis: 30%;

}
.contact-right{
   flex-basis: 70%;
}

.contact-left p{
   margin-top: 30px;
}
.contact-left p i{
color: rgb(19, 133, 123);
margin-right: 15px;
font-size: 25px;
}

.social-icons{
   margin-top: 30px;
}

.social-icons a{
   text-decoration: none;
   font-size: 35px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.5s;
   
}
.social-icons a:hover{
color: #359199;
transform: translateY(-5px);
}

.btn.btn2{
   display: inline-block;
   background: #497976;
}

.contact-right form{
   width: 70%;
}
form input, form textarea{
   width: 100%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 15px 0;
   color: #ffffff;
   font-size: 18px;
   border-radius: 6px;
}
form btn2{
   padding: 14px 60px;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
}
 
 
#msg{
   color: #61b752;
   margin-top: -40px;
   display: block;
}

@media only screen and (max-width: 600px) {
   .row {
      font-size: xx-small;
      margin: 8px;
      padding: 2px;
      
     }
      .contact{
        padding: 24px;
      }
    
      .contact-right{
        padding: 24px;
      }
}






#contact {
   display: flex;
   justify-content: flex-start;
   background: 
     linear-gradient(black, black) padding-box, 
     linear-gradient(145deg, transparent 25%, #9e9ba0 26%, #7d073e 75%) border-box; 
   border: 3px solid transparent;
   background-size: 200% 100%;
   animation: moveGradient 2s linear infinite;
   margin: 1.5 rem;
   
    
 }
 
 @keyframes moveGradient {
   0% {
     background-position: 0 0;  
   }
   100% {
     background-position: 200% 0;  
   }
 }

 .scroll-to-top-btn {
   position: fixed;
   bottom: 40px;
   right: 20px;
   background-color: #344e41;
   color: #ffffff;
   border: none;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   font-size: 10px;
   cursor: pointer;
   outline: none;
   transition: background-color 0.3s ease;
 }
 
 .scroll-to-top-btn:hover {
   background-color: #0056b3;
 }
 
