.navbar {
   height: 5rem;
   width: 100vw;
   
   margin: 0 auto;
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   position: sticky;
   z-index: 3;
   top: 0;
   background-color: rgb(32, 36, 73);
    
}
.desktopMenubtn{
   color: rgb(0, 0, 0);
   background-color: rgb(241, 240, 132);
   border: none;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 2rem;
   width: 5rem;
   border-radius: 2rem;
   cursor: pointer;

}
.desktopMenuListItem{
   margin: 1rem;
   cursor: pointer;
   color: white;
}

.desktopMenuListItem:hover{
   color: rgb(102, 102, 65);
   padding-bottom: 0.5rem;
   border-bottom: 3px solid rgb(85, 85, 55);
}

.colorOn {
   background-color: #011401; /* Green color */
 }
 
 .colorOff {
   background-color: #596969; /* Red color */
 }
