#intro {
   position: relative;
   width: 100%;
   max-width: 75rem;
   height: 80vh;
   overflow: hidden;
   padding: 1rem 4rem;
   display: flex;
   align-items: center;
 }
 
 .bg {
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   object-fit: cover;
   height: 100%;
   width: auto;
 }
 
 .introContent {
   width: 60%; /* Adjust the width as needed */
   padding: 2rem;
   font-size: 2rem; /* Adjust the font size as needed */
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; /* Center content horizontally */
 }
 
 .welcome {
   color: rgb(118, 129, 136);
   font-size: 2rem;
   font-weight: 700;
   margin-bottom: 1rem;
   margin-top: 1rem; /* Adjust top margin to push welcome message closer to the top */
 }
 
 .introName {
   color: rgb(121, 38, 110);
   font-size: 2rem;
   font-weight: 800;
 }
 
 .introPara {
   font-size: 1rem; /* Adjust the font size as needed */
   font-weight: 900;
   text-align: center; /* Center text */
   line-height: 4; /* Adjust line height as needed */
 }
 