#intro {
   position: relative; /* Establish positioning context */
   width: 100%; /* Ensure the section takes up the full width */
   max-width: 75rem;
   height: calc(100vh - 4rem);
   overflow: hidden;
   padding: 1rem 2rem;
 }
 
 .bg {
   position: absolute;
   top: -4rem;
   right: 0;
   z-index: -1;
   object-fit: cover;
   height: 100%;
   width: auto; /* Allow the image to resize based on its aspect ratio */
 }
 